.landing-page {
  font-family: 'Segoe UI', sans-serif;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
   background-image: url('E:\Coding Assignment\fullstackapp\public\assets\images\young-couple-examining-blueprints-with-real-estate-agent-while-buying-new-home 1.svg');
  color: #333;
}
.hero {
  text-align: center;
  padding: 3rem 1rem;
   
}

.logo {
  height: 60px;
  margin-bottom: 1rem;
}

.section {
  padding: 2rem 1rem;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}
